# MongoDB 数据库地址
MONGODB_URI=mongodb://localhost:27017/mirrornovel

# JWT 密钥（任意随机字符串）
JWT_SECRET=xiaoshuo_jwt_secret_key_2024_dev

# Token 过期时间
JWT_EXPIRES_IN=7d

# 管理员账号（启动时自动创建）
ADMIN_EMAIL=admin@xiaoshuo.com
ADMIN_PASSWORD=admin888
ADMIN_NICKNAME=超级管理员

# 端口（可选，默认 3001）
# PORT=3001

# 邮箱配置（用于发送验证码，可选）
# EMAIL_HOST=smtp.example.com
# EMAIL_PORT=465
# EMAIL_USER=your_email@example.com
# EMAIL_PASS=your_email_password
# EMAIL_FROM=MirrorNovel <noreply@example.com>

EMAIL_SERVICE=163
EMAIL_HOST=smtp.163.com
EMAIL_PORT=465
EMAIL_USERNAME=zhuangshaisinas@163.com
EMAIL_PASSWORD=UHbMvPCxMCHvN6j8
EMAIL_SECURE=true
PORT=3002